<div class="row">
  	<div class="col-sm-6">

<div class="media">
    <div class="media-left media-middle">
      <img src="{{fileUpload}}" class="media-object" style="width:250px;height:200px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{oglas.naziv}}</h4>
      <strong>Cena: </strong>{{oglas.cena}}<br>
      <strong>Korisnik: </strong>{{oglas.username}}<br>
      <strong>Datum isteka: </strong>{{oglas.datumIsteka}}<br>
    </div>
    <h4>Opis</h4>
    {{oglas.opis}}
</div>

	</div>

<div *ngIf="isMode() then ponude; else provera"></div>
	<div class="col-sm-6">
	
<ng-template #ponude>
	<div class="ponude-div">
		<div class="lista-ponuda">
 			<div *ngFor="let p of oglas.ponude">
 				Username: {{p.username}} ponuda: {{p.cena}}
 			</div>	
 		</div>
		
		<div *ngIf="isUser() then odaberi; else ponudi"></div>
	
		<ng-template #ponudi>
			<div class="korisnikova-ponuda">
				Vasa trenutna ponuda: {{trenutnaPonuda}} <br>
				<input type="number" #cenaLicitacije>
				<div class="btn-group">
  					<button type="button" class="btn btn-primary" (click)="licitiraj(cenaLicitacije.value)">Licitiraj</button>
				</div>
			</div>
		</ng-template>
	
		<ng-template #odaberi>
			Zaustavi licitaciju i odaberi najvecu ponudu
			<div class="btn-group">
  				<button type="button" class="btn btn-primary" (click)="odaberiPonudu()">Ok</button>
			</div>
		</ng-template>
		
	</div>
</ng-template>

<ng-template #provera>
	<div>
		<div class="btn-group">
  			<button type="button" class="btn btn-primary" (click)="prihvacenOglas()">Prihvati</button>
  			<button type="button" class="btn btn-primary" (click)="odbijenOglas()">Odbij</button>
		</div>
	</div>
</ng-template>
</div>
</div>


















