

Hello {{ email }}! <br>
<div>
  Istorija poseta pozorista i bioskopa:
  <ul>
  <li *ngFor="let visit of visits">
      {{visit}}
  </li>
</ul>
</div>

<nav>
	<a routerLink="/cinemas">Cinemas</a>
	<a routerLink="/theatres">Theatres</a>
    <a routerLink="/users/{{getUsername()}}">My Profile</a>
</nav>

<div>

<h3>My friends</h3>
<button (click)="sortByName($event)"  >Sort by name</button>
<button (click)="sortByLastname($event)" >Sort by lastname</button>
<a routerLink="/users/{{getUsername()}}">See all options</a>
<ol>
  <li *ngFor="let friend of my_friends_list">
  <a routerLink="/users/{{friend.username}}">{{friend.email}}, {{friend.name}}, {{friend.lastname}}</a>
<button (click)="removeFriend($event)" name={{friend.email}}  >Remove</button>
  </li>
  </ol>
</div>
