<hr>

<div [ngSwitch]="usertype">

<div *ngSwitchCase="'regular'">

<div [ngSwitch]="what">




<button (click)="cinemas_button()">Cinemas</button>
<button (click)="theatres_button()">Theatres</button>
<button (click)="istorija()">History</button>
<button (click)="friends_button()">My Friends</button>
<button (click)="lista_rezervacija()">Reservations</button>
<button (click)="my_profile_button()">My profile</button>

<div *ngSwitchCase="'history'">

<div>
 <h3> Istorija poseta pozorista i bioskopa: </h3>
  <ul>
  <li *ngFor="let visit of visits">
      {{visit}}
  </li>
</ul>
</div>

</div>

<div *ngSwitchCase="'friends'">

<h3>My friends</h3>
<button (click)="sortByName($event)"  >Sort by name</button>
<button (click)="sortByLastname($event)" >Sort by lastname</button>
<a routerLink="/users/{{getUsername()}}">See all options</a>
<ol>
  <li *ngFor="let friend of my_friends_list">
  <a routerLink="/users/{{friend.username}}">{{friend.email}}, {{friend.name}}, {{friend.lastname}}</a>
<button (click)="removeFriend($event)" name={{friend.email}}  >Remove</button>
  </li>
  </ol>
</div>


<div *ngSwitchCase="'reservations'">

<h3>My reservations</h3>

</div>

<div *ngSwitchCase="'cinemas'">
<hr>
<button (click)="search_cinemas()">Search Cinemas</button>
<button (click)="search_cinemas()">Sort by Name</button>
<button (click)="search_cinemas()">Sort by City</button>
<button (click)="search_cinemas()">Sort by Distance</button>

<h3>Cinemas</h3>

</div>

<div *ngSwitchCase="'theatres'">
<hr>
<button (click)="search_theatres()">Search Theatres</button>
<button (click)="search_cinemas()">Sort by Name</button>
<button (click)="search_cinemas()">Sort by City</button>
<button (click)="search_cinemas()">Sort by Distance</button>

<h3>Theatres</h3>

</div>

</div>










</div>

<div *ngSwitchCase="'sysAdmin'">

	<div [ngSwitch]="admin_what">

	<button (click)="register_cinemas_button()">Register Cinema/Theatre</button>
	<button (click)="add_admin_button()">Add new admin</button>

	<div *ngSwitchCase="'register_cinemas'">
		<h3>Register new cinema/theatre</h3>
		<hr>
		<h4>Venue type</h4>
		<input type="radio" name="venueType" #cinemaBtn checked> Cinema<br>
  		<input type="radio" name="venueType" #theatreBtn> Theatre<br>
		<h4>Venue name</h4>
		<input type="text" #venueName>
		<h4>Admin</h4>
		<div class="dropdown">
    		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Admins
    		<span class="caret"></span></button>
    		<ul class="dropdown-menu">
      			<li class="dropdown-header">Venue Admins</li>
      			<li *ngFor="let a of admins" (click)="chosenAdmin(a.username)">
  					{{a.username}} 
	  			</li>
    		</ul>
		</div>
		<h4>Venue location</h4>
		
		
		
		
		
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="onChoseLocation($event)">
  			<agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationChosen"></agm-marker>
		</agm-map>
		
		
		
		
		
		
		<hr>
		<button (click)="registerVenue(cinemaBtn.checked,venueName.value)">OK</button>
	</div>


	<div *ngSwitchCase="'add_admin'">
		<h3>Add new admin</h3>
		<hr>
		<h4>Admin type</h4>
		<input type="radio" name="adminType" #sysadmin checked> System admin<br>
  		<input type="radio" name="adminType" #fanadmin> Fan zone admin<br>
		<h4>Admin name</h4>
		<input type="text" #adminname>
		<button (click)="addAdmin(sysadmin.checked,adminname.value)">Upgrade</button>
	</div>

	</div>
</div>



</div>
