<nav>	
	<div *ngIf="isLoggedIn() then userpagebutton; else loginpagebutton;"></div>
	<ng-template #loginpagebutton>
		<a routerLink="/login">Login</a>
	</ng-template>
	<ng-template #userpagebutton>
		<a routerLink="/userpage">Userpage</a>
		{{user.name}}
	</ng-template>
</nav>

<nav>
	<a routerLink="/cinemas">Cinemas</a>
	<a routerLink="/theatres">Theatres</a>
</nav>

<nav>
	<div *ngIf="isLoggedIn() then fanpagebutton"></div>template>
	<ng-template #fanpagebutton>
		<a routerLink="/fanpage">Fanpage</a>
	</ng-template>
	
</nav>
