
<div>

	<form (submit)="loginUser($event)">
	  <div class="container">




	    <div id="login-box">
	     <div class="left">
	       <h1>Sign in</h1>

	       <label for="email"><b>Email</b></label>
	       <input type="text" placeholder="Enter your email" name="email" required><br>

	       <label for="psw"><b>Password</b></label>
	       <input type="password" placeholder="Enter Password" name="psw" required><br>


		   <input type="submit" name="signup_submit" value="Sign in" />
		   <br><br><br>
		   <br> <br>
		   Don't have an account?
		   <a routerLink="/register">Register</a>
			</div>


	   </div>

	  </div>
	</form>



</div>
