
<div>

	<form (submit)="changePassword($event)">
	  <div class="container">
	    <div id="login-box">
	     <div class="left">
	       <h1>Change your password</h1>

	       <label for="psw"><b>Password</b></label>
	       <input type="password" placeholder="Enter Password" name="psw" required><br>
	
			<label for="psw"><b>Repeat Password</b></label>
	       <input type="password" placeholder="Enter Password Again" name="psw" required><br>

		   <input type="submit" name="signup_submit" value="Change" />
		   <br><br><br>
		   <br> <br>

			</div>
	   </div>

	  </div>
	</form>



</div>
